*~

build
tools
!tools/
tools/*
!tools/prepare_compdb.py
!tools/quality_gate.py
!tools/add_default_float_suffixes.py
downloads
package/

.dep
.project
.cproject
.settings/language.settings.xml
.DS_Store
workspace.code-workspace

# Qt project settings
*.pro.user
*.pro.shared

.vscode
!.vscode/
.vscode/*
!.vscode/tasks.json
!.vscode/extensions.json

.cache
compile_commands.json

/result
